$text1: #0c1f34;
$text2: #333333;
$text3: #5b6174;
$color1: #1babea;
$color2: #ecf1f7;
$color3: #c4c4c4;
$color4: #f4f7fa;
$white: #ffffff;

.h1 {
   font-size: 60px;
}
.h2 {
   font-size: 40px;
}
.h3 {
   font-size: 30px;
}
.t1 {
   font-size: 18px;
}
.t2 {
   font-size: 17px;
}
.t3 {
   font-size: 15px;
}
.t4 {
   font-size: 20px;
}
.t5 {
   font-size: 25px;
}
.t6 {
   font-size: 16px;
}
.t7 {
   font-size: 20px;
}
