html,
body {
	height: 100%;
	font-family: "Montserrat";
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	color: $text1;
	overflow-x: hidden;
}
textarea {
	resize: none;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
	position: relative;
}
.footer {
	flex: 0 0 auto;
}
.container {
	max-width: 1330px;
	margin: 0 auto;
	padding: 0px 15px;
	height: 100%;
}
input,
textarea {
	appearance: none;
	outline: none;
}

.breadcrumbs {
}

.d-flex {
	display: flex !important;
}

//Ввод данных конец
.burger {
}

.off {
	display: none !important;
}

.checkbox {
	position: relative;
}
.checkbox-none,
.radio-none {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}
.checkbox-style {
	display: block;

	cursor: pointer;
}
.checkbox-none:checked + .checkbox-style {
}

.select {
	&-input {
		display: none;
	}
}
