html,
body {
	height: 100%;
	font-family: "Montserrat";
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	color: $text1;
	overflow-x: hidden;
}
textarea {
	resize: none;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
	position: relative;
}
.footer {
	flex: 0 0 auto;
}
.container {
	max-width: 1330px;
	margin: 0 auto;
	padding: 0px 15px;
	height: 100%;
}
input,
textarea {
	appearance: none;
	outline: none;
}

.breadcrumbs {
}

.d-flex {
	display: flex !important;
}

//Ввод данных конец
.burger {
}

/* popup start  */
.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
	// display: none;
	.icon-close {
		font-size: 24px;
		position: absolute;
		top: 30px;
		right: 35px;
		color: $text1;
	}
	&__body {
		background: rgba(45, 39, 38, 0.75);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}
}
.change-pass {
	position: relative;
	background: $white;
	width: 100%;
	max-width: 665px;
	height: 100%;
	max-height: 570px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 15px;
	box-shadow: 10px 10px 20px rgba(99, 35, 22, 0.1);
	z-index: 99991;
	&__input-block {
		display: flex;
		flex-direction: column;
		margin-bottom: 72px;
	}

	&__input-box {
		width: 300px;
		position: relative;
		& input {
			width: 100%;
			height: 100%;
		}
		& .input {
			padding: 17px 18px;
		}
		&:not(:last-child) {
			margin-bottom: 35px;
		}
	}
}
.forgot-pass {
	background: $white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px;
	padding: 75px;
	max-width: 665px;
	max-height: 600px;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 99992;
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 390px;
	}

	&__title {
		line-height: 29px;
		margin-bottom: 30px;
	}

	&__input-box {
		display: flex;
		flex-direction: column;
		margin-bottom: 52px;
	}

	&__input {
		width: 300px;
		&.input {
			padding: 17px 18px;
		}
		&:not(:last-child) {
			margin-bottom: 35px;
		}
	}

	&__button {
		margin-bottom: 40px;
	}

	&__phone {
		text-transform: uppercase;
	}

	&__phone-title {
		margin-bottom: 10px;
	}
}
.forgot-pass-btn {
	position: absolute;
	top: calc(100% + 7px);
	right: 0;
	font-size: 10px;
	color: $text1op05;
	text-decoration: underline;
	cursor: pointer;
}
/* popup end  */

.off {
	display: none !important;
}

.checkbox {
	position: relative;
	width: 20px;
	height: 20px;
}
.checkbox-none,
.radio-none {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}
.checkbox-style {
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid $color1;
	border-radius: 2px;
	cursor: pointer;
}
.checkbox-none:checked + .checkbox-style {
	background: url(../images/svg/check.svg) 1px 3px no-repeat;
}

.select {
	&-input {
		display: none;
	}
}

// 1 Этап начало

.card-row-xl {
	display: flex;
	position: relative;
	max-width: 880px;
	margin-right: 30px;
	&:not(:last-child) {
		margin-bottom: 30px;
	}
	.icon-close {
		font-size: 24px;
		position: absolute;
		top: 10px;
		right: 17px;
	}
	&__img {
		flex: 0 0 auto;
		width: 200px;
		height: 207px;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__info {
		flex: 1 1 auto;
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__name {
		font-weight: 500;
		margin-right: 25px;
	}

	&__price {
		margin: 5px 0px;
		margin-bottom: 12px;
		line-height: unset;
	}

	&__container {
		max-width: 530px;
		height: 65px;
		display: flex;
		justify-content: space-between;
	}
	&__box {
		flex: 0 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		cursor: unset;
		&:not(:last-child) {
			margin-right: 15px;
		}
		.color__item {
			cursor: unset;
		}
	}

	&__title_s {
		text-align: center;
		margin-bottom: 12px;
	}
	&__amount-box {
		flex: 0 1 auto;
	}
	&__amount {
		display: flex;
		justify-content: center;
		align-items: center;
		color: $text1op05;
		& span {
			font-size: 12px;
			padding: 8px;
		}
		input {
			text-align: center;
			border: 1px solid $color1;
			padding: 3px 10px;
			width: 56px;
			color: $text1op05;
		}
	}

	&__color {
		background: #40697f;
		margin-bottom: 3px;
	}

	&__code {
		padding-bottom: 5px;
	}
	&__price_s {
		font-family: "Nunito";
		margin-bottom: 2px;
	}
}

.slider {
	position: relative;
	&-box {
		position: relative;
		margin-top: calc(30px + (100 - 30) * ((100vw - 320px) / (1440 - 320)));
	}
	&__header {
		text-align: center;
		margin-bottom: 30px;
	}

	&__container {
		position: relative;
		margin: 0px calc(-50vw + 660px) 0px 15px;
		overflow: visible;
	}

	&__wrapper {
		// height: cacl(100% + 150);
	}
	&__linear-gradient {
		display: block;
		height: 100%;
		width: 46px;
		background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
		position: absolute;
		right: -2px;
		top: 0;
		z-index: 3;
	}
	&-button {
		position: absolute;
		top: 40%;
		transform: translate(0, -50%);
		z-index: 4;
		width: calc(26px + (50 - 26) * ((100vw - 320px) / (1440 - 320)));
		max-width: 51px;
		max-height: 51px;
		height: calc(26px + (50 - 26) * ((100vw - 320px) / (1440 - 320)));
		background: $color3;
		border: 3px solid $color1;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		outline: none;
		cursor: pointer;
		& span {
			font-size: calc(10px + (20 - 10) * ((100vw - 320px) / (1440 - 320)));
			color: $color2;
		}
		&:active {
			transition: 0.3s;
			border: 3px solid $text1;
			& span {
				color: $text1;
			}
		}
	}
	&-button-prev {
		left: -17px;
		& span {
			position: relative;
			right: 1px;
		}
	}
	&-button-next {
		right: calc(-50vw + 695px);
		& span {
			position: relative;
			left: 1px;
		}
	}
}
.card {
	&__code {
		display: block;
		margin-bottom: 8px;
		color: $text1op035;
	}

	&__descr {
		background: $white;
	}
	&__img {
		display: block;
		position: relative;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__like-btn {
		position: absolute;
		top: 10px;
		right: 10px;
		color: $color1;
	}
	&__banner {
		display: block;
		min-width: 90px;
		padding: 7px 10px 8px 10px;
		text-align: center;
		position: absolute;
		top: 10px;
		left: 10px;
	}
	&__banner_hit {
		background: $colorActive;
	}
	&__banner_stock {
		background: #a50d2c;
		color: $white;
	}
	&__banner_new {
		background: #e9c4c9;
	}

	&__name {
		display: block;
		font-weight: 500;
		color: $text1op07;
	}

	&__price {
		display: block;
		color: $text1op07;
	}

	&__availability,
	&__availability_s {
		display: flex;
		justify-content: space-between;
		& p:first-child {
			margin-right: 5px;
		}
		& span {
			color: $text2;
			&.few {
				color: $text3;
			}
		}
	}
	&__structure {
		color: $text1op07;
	}
}
.card-column {
	display: inline-block;
	position: relative;
	width: 310px;
	// overflow: hidden;
	.card {
		&__code {
			display: block;
			margin-bottom: 8px;
			color: $text1op035;
		}
		&__descr {
			background: $white;
			z-index: 3;
			position: relative;
		}
		&__img {
			display: block;
			position: relative;
			margin-bottom: 10px;
			width: 310px;
			height: 295px;
			overflow: hidden;
			// overflow-x: visible;
			// overflow-x: visible;
			& a {
				// overflow-x: visible;
				// overflow: hidden;
			}
			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				// overflow-x: visible;
			}
		}

		&__like-btn {
			position: absolute;
			top: 10px;
			right: 10px;
			color: $color1;
			& span {
				display: none;
			}
			.active {
				display: block;
			}
		}
		&__banner {
			display: block;
			min-width: 90px;
			padding: 7px 10px 8px 10px;
			text-align: center;
			position: absolute;
			top: 10px;
			left: 10px;
		}
		&__banner_hit {
			background: $colorActive;
		}
		&__banner_stock {
			background: #a50d2c;
		}
		&__banner_new {
			background: #e9c4c9;
		}

		&__name {
			margin-bottom: 10px;
			display: block;
			font-weight: 500;
			color: $text1op07;
		}

		&__price {
			margin-bottom: 7px;
			display: block;
			color: $text1op07;
		}

		&__availability {
			display: flex;
			justify-content: space-between;
			margin-bottom: 5px;
			& p:first-child {
				margin-right: 5px;
			}
		}
		&__structure {
			color: $text1op07;
		}
		&__button {
			display: block;
			margin: 10px 0px 25px 0px;
			padding: 10px 0px;
			width: 100%;
			box-sizing: content-box;
		}
		&__hover-block {
			padding-top: 10px;
			position: absolute;
			width: 100%;
			top: 100%;
			background: $white;
			// transform: translateY(-100%);
			z-index: 2;
			// display: none;
			transition: 0.3s;
			height: 0;
			overflow: hidden;
			&:hover {
				// transform: translateY(0);
			}
		}
	}
	.card-row-xl__box:not(:last-child) {
		margin-right: unset;
	}
	.card-row-xl__box {
		flex-direction: row;
	}
	.card-row-xl__title_s {
		margin-bottom: 0;
	}
	&:hover {
		transform: scale(1.05);
		transition: 0.3s;
		z-index: 4;
		.card__hover-block {
			height: auto;
			// transform: translateY(0);
			// display: block;
			transition: 0.3s;
			box-shadow: 0px 2px 18px rgba(99, 35, 22, 0.2);
		}
		.card__img a img {
		}
		.icon-bag {
			display: block;
		}
		box-shadow: 0px 2px 18px rgba(99, 35, 22, 0.2);
	}
	.icon-bag {
		display: none;
		font-size: 33px;
		position: absolute;
		right: 10px;
		top: 56px;
	}
	.header__quantity {
		top: -5px;
		left: -5px;
	}
}
.card-row-s {
	display: flex;
	text-align: left;
	margin-bottom: 15px;
	.card {
		&__img {
			flex: 0 0 auto;
			width: 54px;
			height: 57px;
			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__descr {
			flex: 1 1 auto;
			padding: 0px 0px 0px 8px;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
		}

		&__name {
			font-size: 10px;
			margin-bottom: 8px;
		}

		&__container {
			font-size: 14px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__ptice {
			font-size: 12px;
		}
		&__amount-sum {
			padding: 2px 10px 4px 10px;
			border: 1px solid $color1;
			font-size: 12px;
		}

		&__color {
			width: 20px;
			height: 20px;
			margin: 0px auto 0px 20px;
		}
	}
}
.card-row-m {
	display: flex;
	color: $text1;
	position: relative;
	&:not(:last-child) {
		margin-bottom: 30px;
	}
	.card {
		&__img {
			flex: 0 0 auto;
			width: 100px;
			height: 100px;
		}

		&__descr {
			padding: 0px 15px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&__wrapper {
			display: flex;
			justify-content: space-between;
		}

		&__name {
			margin-right: 10px;
			color: $text1;
			font-weight: 500;
		}

		&__price {
			color: $text1;
			flex: 0 0 auto;
			font-weight: 700;
		}

		&__code {
			margin-bottom: unset;
		}

		&__availability {
			margin-bottom: auto;
		}
		&__availability_s {
			text-align: center;
			display: none;
		}
		&__container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__delete {
			text-decoration-line: underline;
			color: $color1;
		}
		&__close {
			position: absolute;
			top: 0;
			right: 0;
			display: none;
			height: 14px;
			& span {
				font-size: 14px;
			}
		}
	}
	.color__item {
		margin: 0px auto 0px 20px;
		width: 20px;
		height: 20px;
	}
	.card-row-xl {
		&__amount {
		}

		&__color {
		}
	}
}
.card-row-xs {
	display: flex;
	width: 370px;
	&:not(:last-child) {
		margin-bottom: 15px;
	}
	.card {
		&__img {
			flex: 0 0 auto;
			width: 66px;
			height: 69px;
			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__descr {
			padding: 7px 23px 22px 10px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			text-transform: uppercase;
		}

		&__name {
			text-transform: uppercase;
		}

		&__amount-sum {
		}
	}
}
.color-5 {
}
.card-price {
}

.icon-heart-xl,
.icon-heart-xl-on {
	font-size: 32px;
	cursor: pointer;
}
.slider-color {
	min-width: 0;
	width: unset;
	max-width: 100%;
	position: relative;
	padding: 0px 22px 0px 22px;
	background: $white;
	.color__item {
		margin-right: 29.266px;
		&:hover {
			transform: scale(2.2);
			transition: 0.3s;
			z-index: 2;
		}
	}
	&__container {
		height: 44px;
		// overflow-y: visible;
	}

	&__wrapper {
		align-items: center;
		// overflow: visible;
	}

	&__btn {
		padding: 6px 5px 5px 5px;
		margin: 0px -5px;
		color: $color1;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		overflow: visible;
		z-index: 1;
		font-size: calc(7px + (18 - 7) * ((100vw - 320px) / (1440 - 320)));
		cursor: pointer;
		.icon-triangle-left,
		.icon-triangle-right {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	&__btn-prev {
		left: 0;
	}
	&__btn-next {
		right: 0;
	}
}
.color__item {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: block;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
}
.color__style {
	width: inherit;
	height: inherit;
	border-radius: inherit;
	display: block;
}
.color__input:checked + .color__style {
	border: 1px solid #000000;
}
.icon-minus,
.icon-plus {
	cursor: pointer;
}
.color-1 {
	background: #f7c65a;
}
.color-2 {
	background: #977dad;
}
.color-3 {
	background: #35405c;
}
.color-4 {
	background: #35405c;
}
.color-5 {
	background: #40697f;
}
.color-6 {
	background: #477640;
}

.card-row {
	display: flex;
	flex-wrap: wrap;
	max-width: 710px;
	margin-bottom: 25px;

	.card {
		&__code {
			width: 100%;
		}

		&__img {
			width: 44%;
			height: 350px;
		}
		&__like-btn {
			position: absolute;
			top: 10px;
			right: 10px;
			color: $color1;
			& span {
				display: none;
			}
			.active {
				display: block;
			}
		}
		&__descr {
			width: 56%;
			padding: 0px 0px 0px 50px;
			display: flex;
			flex-direction: column;
		}
		&__name {
			margin-bottom: 10px;
		}
		&__price {
			font-weight: 500;
			margin-bottom: 5px;
		}

		&__availability {
			justify-content: flex-start;
			margin-bottom: 13px;
		}
		&__structure {
			margin-bottom: 10px;
		}
		&__structure-title {
			color: $text1;
			margin-bottom: 5px;
		}
		&__structure-text {
			height: 70px;
		}
		&-row-xl__box {
			display: none;
			flex-direction: row;
			justify-content: start;
		}
		&-row-xl__title_s {
			margin-bottom: 0;
		}
		&__add-to-cart-box {
			display: none;
			margin-top: auto;
		}
	}
	&:hover {
		.card__add-to-cart-box,
		.card-row-xl__box {
			display: flex;
		}
	}
	.slider-color {
		margin-right: 33px;
	}
}

.progress-bar {
	&__body {
		width: 332px;
		height: 10px;
		background: $white;
		border: 1px solid $color1;
	}
	&__line {
		height: 100%;
		background-color: $color1;
		// width: 100%;
		border-radius: 20px;
	}
}
.number__page {
	margin-bottom: 15px;
	color: #4d4d4d;
	font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1920 - 320)));
}

// 1 Этап конец

// 2 Этап начало

.news-and-offers {
	// flex: 0 1 420px;
	// width: 420px;
	width: calc(50% - 20px);
	height: 380px;
	position: relative;
	margin: 10px;
	display: flex;
	&:hover {
		transform: scale(1.03);
		transition: 0.3s;
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__text-block {
		position: relative;
		z-index: 1;
		width: 250px;
		height: 110px;
		margin: auto auto 60px auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: $white;
		padding: 10px;
	}

	&__title {
		text-transform: uppercase;
		margin-bottom: 8px;
	}

	&__text {
	}
}
.input-line {
	font-size: 10px;
	color: #4d4d4d;
	position: absolute;
	bottom: calc(100% + 8px);
	left: 0;
	margin-left: 18px;
}
.input-bottom-line {
	font-size: 10px;
	color: #4d4d4d;
	position: absolute;
	top: calc(100% + 8px);
	right: 0;
	margin-left: 18px;
}

// 2 Этап конец

// 3 Этап начало

.slider-simple-auto {
	position: relative;
	margin-bottom: 24px;
	&__wrapper {
	}

	&__slide {
		height: calc(320px + (575 - 320) * ((100vw - 768px) / (1330 - 768)));
		max-height: 575px;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__container {
		position: relative;
	}
	.swiper-pagination {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		// position: absolute;
		// bottom: 0;
		// left: 0;
		height: 42px;
		z-index: 10;
		// height: 100px;
		// width: 100%;
		.swiper-pagination-bullet {
			width: 20px;
			height: 20px;
			background: #f0d4c3;
			border-radius: 50px;
			transition: 0.3s;
			// background: #000;
			&:not(:last-child) {
				margin-right: 15px;
			}
		}
		.swiper-pagination-bullet-active {
			width: 50px;
			transition: 0.3s;
		}
	}
}
.slider-clients {
	position: relative;
	&__title {
		font-weight: 500;
		margin-bottom: 35px;
	}

	&__container {
		margin: 0px 70px 0px 40px;
		display: flex;
		align-items: center;
	}

	&__wrapper {
	}

	&__slide {
		display: flex;
		justify-content: center;
	}
	&__img {
		width: calc(52px + (95 - 52) * ((100vw - 768px) / (1330 - 768)));
		max-width: 95px;
		height: calc(22px + (40 - 22) * ((100vw - 768px) / (1330 - 768)));
		max-height: 40px;
	}
	.slider-button {
		transform: translate(0, 50%);
		bottom: 20px;
		top: unset;
	}
	.slider-button-prev {
		left: -25.5px;
	}
	.slider-button-next {
		right: 0;
	}
}
.slider-awards {
	margin-bottom: 90px;
	&__title {
		margin-bottom: 50px;
		text-transform: uppercase;
	}

	&__body {
		position: relative;
		margin: 0 -26px;
	}

	&__container {
		margin: 0 71px;
	}

	&__wrapper {
	}

	&__slide {
		display: flex;
		justify-content: center;
	}

	&__img {
		width: 285px;
		max-width: 285px;
		height: 263px;
		max-height: 263px;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.slider-button {
		top: 50%;
	}
	.slider-button-prev {
		left: 0;
	}
	.slider-button-next {
		right: 0;
	}
}
