// MAX-WIDTH 1600PX breakpoints START
@media (max-width: 1600px) {
}

// MAX-WIDTH 1600PX breakpoints END

// MAX-WIDTH 1399.98PX breakpoints START
@media (max-width: 1399.98px) {
   .slider-awards {
      &__body {
         margin: 0px;
      }

      &__container {
         margin: 0 calc(55px + (45 - 55) * ((100vw - 768px) / (1440 - 768)));
      }
   }
   .slider-clients {
      .slider-button-prev {
         left: 0;
      }
      .slider-button {
         bottom: calc(11px + (20 - 11) * ((100vw - 768px) / (1330 - 768)));
      }
      &__container {
         margin: 0px calc(36px + (60 - 36) * ((100vw - 320px) / (1440 - 320)));
      }
   }
   .slider-button-next {
      right: -14px;
   }
   .slider-button-prev {
      left: -14px;
   }
   .page-catalog__grid .card__img {
      height: calc(210px + (295 - 210) * ((100vw - 992px) / (1440 - 992)));
   }
   .page-catalog__grid .slider-color .color__item {
      margin-right: calc(12.5px + (33.7 - 12.5) * ((100vw - 992px) / (1440 - 992)));
   }
   .cabinet-delivery__block {
      margin-right: calc(20px + (105 - 20) * ((100vw - 1200px) / (1440 - 1200)));
   }
}
// MAX-WIDTH 1399.98PX breakpoints END

// MAX-WIDTH 1199.98PX breakpoints START
@media (max-width: 1199.98px) {
   .slider-awards {
      &__img {
         width: calc(148px + (285 - 148) * ((100vw - 768px) / (1440 - 768)));
         height: calc(137px + (263 - 137) * ((100vw - 768px) / (1440 - 768)));
      }
   }
   .auth-reg-block {
      padding: 30px 22px 40px 20px;
      &__title-box {
         margin-bottom: 30px;
      }
      &__reg-form-box {
         & .auth-reg-block__input-box {
            width: calc(50% - 20px);
         }
      }
      &__btn-register {
         width: calc(50% - 20px);
      }
   }
   .cabinet-favorites-column,
   .cabinet-favorites-row {
      .cabinet-leftbar {
         width: 240px;
      }
   }
   .payment-radio__item:not(:last-child) {
      margin-right: 10px;
   }
   .page-catalog__grid .card-column {
      max-width: 30%;
   }
   .logo {
      margin-right: 20px;
   }
   .search__input {
      width: 300px;
   }
   .menu__item:not(:last-child) {
      margin-right: 15px;
   }
   .card-column .card__button {
      font-size: 14px;
   }
   .cabinet-leftbar {
      margin-right: 20px;
   }
   .cabinet-delivery {
      .page-cabinet__wrapper {
         // flex-wrap: wrap;
         display: inline-block;
      }
      &__block {
         margin-right: 15px;
      }
   }
   .cabinet-adress {
      &__input-body {
         margin-bottom: 40px;
      }
      &__input-row {
         &:not(:first-child) {
            .input-line {
               display: block;
            }
         }
      }
      &__input-box {
         grid-template-columns: 1fr;
      }
      &__add-adress {
      }
      &__selector {
         width: 250px;
         margin-bottom: 30px;
      }

      &__input-adress-box {
         grid-row: 2;
         width: unset;
         max-width: 100%;
      }
      &__input-index-box {
         grid-row: 2;
         width: 130px;
      }
      &__input-index {
      }
   }
}
// MAX-WIDTH 1199.98PX breakpoints END

// MAX-WIDTH 991.98PX breakpoints START
@media (max-width: 991.98px) {
   .gallery {
      &__title {
         text-align: center;
         max-width: 400px;
         font-size: 30px;
         margin-bottom: 15px;
      }
      &__subtitle {
         font-size: 18px;
         margin-bottom: 25px;
      }
      &__links {
         margin-bottom: 40px;
      }
      &__body {
         margin: -5px;
      }
      &__img {
         margin: 5px;
         width: calc(25% - 10px);
      }
   }
   .slider-awards {
      margin-bottom: 70px;
      &__title {
         margin-bottom: 40px;
         font-size: 30px;
      }
   }
   .popup-auth-reg {
      .auth-reg-block {
         margin: 20px;
         padding: 60px 35px 80px 35px;
         &__title-box {
            width: 340px;
            margin-bottom: 50px;
         }
         &__title {
            font-size: 18px;
         }
         &__auth-form {
            max-width: 340px;
            & .auth-reg-block__input-box {
               margin-bottom: 35px;
            }
         }
         &__btn-enter {
            margin-top: 50px;
            width: calc(100% - 40px);
         }
         &__reg-form {
         }
         &__reg-form-box {
            & .auth-reg-block__input-box {
               width: calc(33.332% - 20px);
            }
         }
         &__btn-register {
            width: calc(33.332% - 20px);
         }
      }
   }
   .auth-reg-block-mobile {
      display: block;
      .auth-reg-block-button {
         width: 100%;
         text-transform: unset;
         padding: 11px;
         font-size: 16px;
      }
   }

   .auth-reg-block {
      display: none;
   }
   .before-main {
      .page-main__content {
         padding: 30px 0px 70px 0px;
      }
      &__container {
         margin-bottom: 22px;
      }
      &__sliders-container {
         width: calc(50% - 6.5px);
         margin-right: 13px;
      }
      &__info-block {
         width: calc(50% - 6.5px);
      }
      &__logo {
         margin-left: unset;
         display: flex;
         justify-content: center;
         & .logo {
            position: static;
            max-width: 195px;
         }
      }
      &__info.t3 {
         margin-left: unset;
         font-size: 14px;
      }
      &__contacts {
         margin-bottom: 70px;
      }
      &__contacts-title {
         font-size: 16px;
         margin-bottom: 1.5px;
      }
      &__contacts-num {
         font-size: 18px;
      }
      &__choose {
         margin-bottom: 70px;
         width: 100%;
      }

      &__choose-title {
         font-size: 30px;
         margin-bottom: 50px;
      }

      &__choose-row {
         padding-right: unset;
      }

      &__choose-num {
         flex: 0 0 88px;
         margin-right: 15px;
         font-size: 64px;
      }

      &__choose-text {
         font-size: 14px;
         color: $text1;
         line-height: 1.79;
      }
   }
   .slider-clients__title {
      margin-bottom: 25px;
   }
   .input-line {
      bottom: calc(100% + 4px);
   }
   .cabinet-adress {
      &__input-body {
         margin-bottom: 40px;
      }
      .page-cabinet__subtitle-block {
         margin-right: unset;
      }
      &__btn-save-box {
         justify-content: flex-start;
      }
   }
   .change-pass {
      max-width: 490px;
      max-height: 480px;
      &__input-block {
         margin-bottom: 63px;
      }

      &__input-box {
         width: 300px;
      }
   }
   .forgot-pass {
      padding: 40px 40px 50px 40px;
      max-width: 625px;
      max-height: 480px;

      &__title {
         margin-bottom: 35px;
         &.t1 {
            font-size: 18px;
         }
      }

      &__input-box {
         margin-bottom: 32px;
      }

      &__button {
         margin-bottom: 33px;
      }

      &__phone-title {
         margin-bottom: 7px;
         font-size: 18px;
      }
   }
   .cabinet-contacts {
      .page-cabinet {
         &__container {
            flex: unset;
         }

         &__subtitle-block {
            margin-bottom: 60px;
         }
      }

      &__input-box {
         grid-template-columns: 37% 30% 33%;
         margin: -15px -10px 60px -10px;
      }

      &__buttons {
         text-align: left;
      }
   }

   .cabinet-favorites-column,
   .cabinet-favorites-row {
      .cabinet-leftbar {
         width: 290px;
      }
      .page-cabinet__subtitle {
         display: block;
      }
   }

   .page-cabinet {
      &__content {
         padding: 40px 0px 70px 0px;
      }

      &__body {
         flex-direction: column;
      }

      &__title {
         font-size: 30px;
      }
      &__subtitle {
         margin-bottom: 45px;
         font-size: 20px;
         font-weight: 500;
      }
      &__wrapper {
      }
   }
   .cabinet-promotions {
      .page-cabinet {
         &__wrapper {
            width: 100%;
            max-width: unset;
            align-self: center;
         }
      }
      .page-cabinet__content {
         padding-bottom: 80px;
      }
   }

   .news-and-offers {
      height: 400px;
      &__text-block {
         margin-bottom: 87px;
      }
   }
   .cabinet-leftbar {
      display: none;
   }
   .cabinet-leftbar-mobile {
      margin: -10px -12px 30px -12px;
      display: grid;
      grid-template-columns: 27% 22% 31% 20%;
   }
   .cabinet-delivery {
      &__radio {
         margin-bottom: 40px;
      }

      &__radio-item {
         height: 43px;
      }
      .page-cabinet {
         &__wrapper {
            padding: 25px 15px 25px 35px;
            max-width: unset;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
         }
      }
      &__block {
         margin-right: 40px;
      }

      &__cards {
      }

      &__info {
         width: unset;
         flex: 0 1 auto;
         &.t4 {
            font-weight: 400;
         }
      }
      &__box {
      }

      &__info-title {
         margin-bottom: 5px;
         font-size: 14px;
      }

      &__info-text {
         font-size: 14px;
      }
      .steps {
         margin-bottom: 55px;
         &__item {
            &:not(:first-child) {
               padding: 0px 0px 0px 75px;
            }

            &:not(:first-child)::before {
               top: 27.5px;
               left: 16.5px;
               width: 40px;
            }
         }
         &__num {
            width: 56px;
            height: 56px;
         }

         &__title {
            font-size: 12px;
            // transform: translate(-50%, 0);
         }
      }
   }
   .card-row-xs {
      display: flex;
      &:not(:last-child) {
         margin-bottom: 15px;
      }
      .card {
         &__img {
            flex: 0 0 auto;
            width: 54px;
            height: 57px;
            & img {
               width: 100%;
               height: 100%;
               object-fit: cover;
            }
         }

         &__descr {
            padding: 6px 20px 15px 8px;
         }

         &__name {
         }

         &__amount-sum {
         }
      }
      .t7 {
         font-size: 10px;
      }
   }
   .success {
      flex-direction: column;
      align-items: center;
      margin: 0px 0px 40px 0px;
      &__item {
         width: 70px;
         height: 70px;
         margin-right: unset;
         & img {
            width: 25.87px;
            height: 19.19px;
         }
      }

      &__text {
         font-size: 18px;
         margin-top: 17px;
      }
   }
   .t2 {
      font-size: 18px;
      font-weight: 400;
   }
   .t3 {
      font-size: 18px;
   }
   .t4 {
      font-size: 16px;
   }
   .t5 {
      font-size: 14px;
   }

   .logo {
      position: absolute;
      width: 100%;
      max-width: unset;
      display: flex;
      justify-content: center;
      & img {
         max-width: 156px;
         z-index: 2;
      }
   }
   .menu {
      &.burger-open {
         .burger-mobile {
            display: flex;
         }

         .menu__burger::before {
            transform: rotate(45deg);
            top: calc(50% - 1.5px);
         }
         .menu__burger::after {
            transform: rotate(-45deg);
            bottom: calc(50% - 1.5px);
         }
         .menu__burger span {
            transform: scale(0);
         }
      }
      &__burger {
         display: block;
      }
      &__item {
         .icon-triangle-up {
            font-size: 14px;
         }
      }
   }
   .search.active {
      position: absolute;
      transform: translate(0, -50%);
      left: 0;
      top: 50%;
      width: 100vw;
      height: 80%;
      margin-left: -15px;
      box-shadow: 0px 4px 20px #adaaaa;
      z-index: 10;
      .search__input {
         display: block;
         font-size: calc(18px + (42 - 18) * ((100vw - 320px) / (991 - 320)));
         width: 100%;
         height: 100%;
      }
      .icon-search {
         right: calc(0px + (27 - 0) * ((100vw - 320px) / (991 - 320)));
         font-size: calc(23px + (50 - 23) * ((100vw - 320px) / (991 - 320)));
      }
   }
   .header {
      border-bottom: unset;
      height: calc(46px + (120 - 46) * ((100vw - 320px) / (768 - 320)));
   }
   .header__link a > span,
   .icon-search {
      font-size: 36px;
   }
   .header__quantity {
      top: -4px;
      right: -4px;
   }

   .menu__container {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 99;
      width: 100vw;
      background: $white;
      margin-left: -15px;
      flex-direction: column;
      align-items: center;
      padding: 35px 0px calc(40px + (80 - 40) * ((100vw - 320px) / (991 - 320))) 0px;
   }
   .menu__item-head {
      width: unset;
      justify-content: center;
      margin-right: -14px;
      margin-bottom: 8px;
      & p {
         margin-right: 10px;
      }
   }
   .menu__item-body {
      width: unset;
      position: static;
      margin: 0 auto;
      -webkit-box-shadow: unset;
      box-shadow: unset;
      text-align: center;
      text-transform: none;
      font-family: "Montserrat";
   }
   .menu__item {
      text-transform: uppercase;
      font-family: "Roboto Slab";
      font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (991 - 320)));
   }
   .menu__item:not(:last-child) {
      margin-right: unset;
      margin-bottom: calc(15px + (25 - 15) * ((100vw - 320px) / (991 - 320)));
   }
   .search__input {
      display: none;
   }
   .header__nav {
      flex: 1 0 auto;
      display: flex;
      justify-content: space-between;
   }
   .header__link {
      margin-left: 0px;
      z-index: 3;
   }

   .preview-cart__top-line {
      display: flex;
   }
   .preview-cart {
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100vh;
      z-index: 999;
      overflow-y: scroll;
      padding: 0;
      .card-row-xl__title_s {
         display: flex;
      }
   }
   .card-row-m .card__name {
      margin-bottom: 5px;
   }
   .card-row-m .card__main .card__availability {
      display: none;
   }
   .card-row-m .card__container {
      align-items: start;
      flex: 1 0 auto;
   }
   .card-row-m .color__item {
      margin: 3px 0px 0px 0px;
   }
   .card-row-m .card-row-xl__box {
      flex: 0 1 auto;
   }
   .card-row-m .card__container .card__price {
      margin-bottom: 18px;
   }
   .card-row-m .card__container .card__availability {
      & p:first-child {
         margin-bottom: 17px;
      }
   }
   .card-row-m .card__wrapper .card__price {
      display: none;
   }
   .card-row-m .card__availability_s {
      display: block;
   }
   .preview-cart__body {
      padding: calc(20px + (40 - 20) * ((100vw - 320px) / (768 - 320)))
         calc(10px + (20 - 10) * ((100vw - 320px) / (768 - 320)));
   }
   .preview-cart__btn-box {
      display: flex;
      justify-content: center;
   }
   .preview-cart__btn {
      width: 400px;
   }
   .card-row-m {
      width: 100%;
      &:not(:last-child) {
         margin-bottom: 20px;
      }
   }
   .card-row-m .card__descr {
      flex-direction: row;
      align-items: center;
      flex: 1 1 auto;
      padding: 0px 18px 0px 15px;
   }
   .card-row-m .card__main {
      flex: 0 1 220px;
   }

   .cart-main {
      .page-cart__container {
         margin-bottom: 60px;
      }
   }

   .search {
      margin: unset;
      margin: 0px auto 0px 0px;
      display: flex;
      align-items: center;
   }

   .search .icon-search {
      margin-left: calc(10px + (50 - 10) * ((100vw - 320px) / (991 - 320)));
      right: unset;
      z-index: 3;
   }

   .footer {
      &__content {
         padding: 70px 0px;
      }
      &__contacts {
         order: 1;
         display: block;
         margin-bottom: 20px;
         & p {
            margin-bottom: 40px;
            &:not(:last-child) {
               margin-right: unset;
            }
         }
      }
      &__socials {
         order: 2;
         & span {
            font-size: 65px;
         }
      }
      &__columns {
         order: 3;
         flex-direction: column;
         align-items: center;
         margin-bottom: 20px;
      }
      &__block {
         padding: unset;
      }
      &__block:nth-child(3) {
         padding: unset;
      }
      &__title {
         margin: unset;
      }
      &__info {
         order: 4;
      }
      &__link {
         display: none;
      }
   }
   .steps {
      margin-bottom: 45px;
   }
   .steps__num {
      width: 70px;
      height: 70px;
      font-size: 30px;
   }
   .steps__title {
      font-size: 14px;
   }
   .steps__item:not(:first-child)::before {
      left: 22.5px;
      top: 35.5px;
   }
   .steps__item:not(:first-child) {
      padding: 0px 0px 0px 95px;
   }
   .page-cart__title {
      display: none;
   }
   .page-cart__body {
      flex-wrap: wrap;
      justify-content: center;
   }
   .page-cart__container {
      width: 100%;
      margin-bottom: 60px;
   }
   .card-row-xl {
      max-width: 100%;
   }
   .card-row-xl__img {
      width: 150px;
      height: 155px;
   }
   .card-row-xl__info {
      padding: 0px 20px 0px 50px;
   }
   .card-row-xl__price {
      font-size: 18px;
   }
   .card-row-xl__name {
      font-weight: 400;
   }
   .order-info__text_m {
      font-size: 14px;
   }
   .order-info__text_m_medium {
      font-size: 16px;
   }
   .slider__linear-gradient {
      display: none;
   }
   .page-catalog__grid .slider-color .color__item {
      margin-right: calc(20.5px + (36 - 20.5) * ((100vw - 768px) / (991 - 768)));
   }
   .card-column {
      width: unset;
      .card__img {
         width: unset;
         height: calc(220px + (300 - 220) * ((100vw - 768px) / (991 - 768)));
      }

      .card-row-xl__title_s {
         font-size: 16px;
      }
      .card__button {
         font-size: 14px;
         margin: 9px 0px 12px 0px;
         padding: 7.5px 0px;
      }
   }
   .slider__container {
      margin: 0px;
   }
   .delivery-radio {
      justify-content: space-between;
      flex-wrap: nowrap;
   }
   .page-cart__button-box {
      display: flex;
      justify-content: center;
      width: 100%;
   }
   .payment-radio {
      justify-content: space-between;
   }
   .cart-placed .page-cart__button-box {
      margin-top: 20px;
   }
   .page-catalog__grid .card-column .card__img {
      height: calc(150px + (280 - 150) * ((100vw - 578px) / (991 - 578)));
   }
   .page-catalog__grid .card-column {
      max-width: unset;
      width: calc(169px + (306.333 - 169) * ((100vw - 578px) / (991 - 578)));
   }
   .sidebar__box-filters,
   .page-catalog__block-top {
      display: none;
   }
   .page-catalog__main {
      flex-direction: column;
   }
   .delivery-radio {
      margin-bottom: 20px;
   }
   .sidebar {
      margin-right: unset;
      width: unset;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      &__categories-item p:first-child {
         width: unset;
      }

      .sidebar__icons {
         display: flex;
         flex: 0 0 auto;
      }
      .sidebar__box-categories {
         padding: unset;
         border: unset;
         display: flex;
         margin-right: 10px;
      }
      .sidebar__categories-item:not(:last-child) {
         margin-bottom: unset;
         margin-right: 30px;
      }
      &__categories-item {
         padding: 8px 0px;
         max-width: unset;
         & p {
            display: block;
            font-size: 24px;
            font-family: "Roboto Slab";
         }
         & p:last-child {
            display: none;
         }
         &.active {
            border-bottom: 5px solid #c48564;
            background: transparent;
            color: $text1;
         }
      }
      &__slider {
         margin-top: 0;
         transform: translateY(-12px);
      }
   }
   .button2,
   .button {
      font-weight: 400;
   }
   .sidebar__title {
      display: none;
   }

   .sidebar-burger {
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      background: $white;
      z-index: 20;
      overflow-y: scroll;
      display: none;
      .sidebar {
         &__top-line {
            padding: 0px 15px;
            display: flex;
            align-items: center;
            background: #f0d4c3;
            height: calc(55px + (90 - 55) * ((100vw - 320px) / (768 - 320)));
            .icon-close {
               font-size: calc(16px + (34 - 16) * ((100vw - 320px) / (768 - 320)));
               margin-right: calc(16px + (32 - 16) * ((100vw - 320px) / (768 - 320)));
            }
         }
         &__title {
            display: block;
            margin-bottom: 0;
            font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (768 - 320)));
         }
         &__clear-all-btn {
            font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (768 - 320)));
            padding: 10px 26px;
            border: 1px solid $text1;
            margin: 0px 0px 0px auto;
         }
         &__box-categories {
            background: $color3;
            padding: 29px 15px 35px 15px;
         }
         &__categories-head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
         }
         &__categories-body {
            display: flex;
            flex-wrap: wrap;
         }
         &__categories-item {
            padding: 15px 20px 15px 25px;
            border: 1px solid $text1;
            display: flex;
            align-items: center;
            max-width: unset;
            margin-bottom: 12px;
            &:not(:last-child) {
               margin-right: 12px;
            }
            & p {
               flex: 0 0 auto;
               margin-right: 15px;
            }
            .icon-close {
               font-size: 12px;
            }
         }
         &__box-filters {
            display: block;
         }
         &__change-price {
            padding: 20px 10px;
            margin-bottom: 0;
            border-bottom: 1px solid $color1;
         }
         &__change-price-body {
            margin-top: 20px;
            display: flex;
         }
         &__input-price {
            margin-right: 35px;
         }
         &__box-filters {
            padding: 0;
         }
         &__change-color {
            color: $text1op05;
            padding: 20px 15px;
            width: 100%;
            max-width: unset;
            border-bottom: 1px solid $color1;
         }
         &__selector-box {
            color: $text1op05;
            max-width: unset;
            width: 100%;
            &:not(:last-child) {
               border-bottom: 1px solid $color1;
            }
         }
         &__color-body {
            display: none;
         }
         &__color-box {
            margin: 0;
         }
         &__subtitle {
            margin-bottom: 0;
         }
         &__selector-head {
            padding: 20px 15px;
            & span {
               display: none;
            }
         }
         &__selector-body {
            max-height: 204px;
         }
         &__selector-item {
            padding: 15px 15px;
            align-items: center;
         }
      }
   }

   .delivery-radio {
      &__label {
         width: 49%;
         &:not(:last-child) {
            margin-right: 0;
         }
      }
      &__item {
         width: 100%;
         padding: 15px;
      }
      &__input:checked + .delivery-radio__item {
         padding: 15px;
      }
   }

   .slider-color {
      .color__item {
         width: 15px;
         height: 15px;
         margin-right: calc(19px + (34 - 19) * ((100vw - 768px) / (991 - 768)));
      }
      &__container {
         height: 36px;
      }
   }
   .color__item {
      width: 15px;
      height: 15px;
   }
   .card-row-xl .icon-close {
      top: 3px;
   }
   .slider__header {
      font-size: 30px;
   }
   .page-cart__container {
      margin-bottom: 0;
   }
   .placed-info__body {
      margin-bottom: 60px;
   }
}
// MAX-WIDTH 991.98PX breakpoints END

// MAX-WIDTH 767.98PX breakpoints START
@media (max-width: 767.98px) {
   .slider-awards {
      &__img {
         width: unset;
         height: calc(125px + (186 - 125) * ((100vw - 576px) / (767 - 576)));
      }
   }
   .popup-auth-reg {
      .auth-reg-block {
         max-width: 550px;
         margin: 10px;
         padding: 25px 25px 35px 25px;
         &__reg-form-box {
            margin: 0px 0px 15px 0px;
            & .auth-reg-block__input-box {
               margin: 6px 8px;
               width: calc(100% - 16px);
            }
         }
         &__btn-register {
            margin: 8px;
            width: calc(100% - 16px);
         }
         &__agreement-block {
            margin: 0 8px;
         }
      }
   }
   .auth-reg-block-mobile {
      display: block;
      .auth-reg-block-button {
         width: 100%;
         text-transform: unset;
         padding: 11px;
         font-size: 16px;
      }
   }
   .before-main {
      &__info.t3 {
         margin-bottom: 10px;
      }
      &__logo {
         margin-bottom: 10px;
      }

      &__choose-num {
         flex: 0 0 66px;
         font-size: 48px;
      }

      &__choose-text {
         font-size: 10px;
      }
   }
   .auth-reg-block-mobile {
      padding: 15px 28px;
   }
   .slider-simple-auto {
      margin-bottom: 15px;
   }
   .cabinet-adress {
      &__selector {
         width: 200px;
      }
   }
   .cabinet-delivery {
      &__radio {
      }

      &__radio-item {
      }
      .page-cabinet {
         &__wrapper {
            flex-direction: column;
         }
      }
      &__block {
         margin-right: unset;
      }

      &__cards {
      }

      &__info {
         &.t4 {
         }
      }

      &__box {
      }

      &__info-title {
      }

      &__info-text {
      }
      .steps {
         margin-left: unset;
         &__item {
            &:not(:first-child) {
            }

            &:not(:first-child)::before {
            }
         }
         &__num {
         }

         &__title {
         }
      }
   }
   .news-and-offers {
      width: calc(100% - 20px);
   }
   .cabinet-leftbar-mobile {
      margin: -5px -5px 25px -5px;
      .cabinet-leftbar__item {
         margin: 5px;
         padding: 10px 10px;
      }
   }
   .card-row-xl__info {
      padding: 0px 20px 0px 20px;
   }
   .card-column {
      .card__img {
         height: calc(150px + (352 - 150) * ((100vw - 320px) / (768 - 320)));
      }
   }
   .card-row-m .card__close {
      display: block;
   }
   .card-row-m .card__img {
      width: 60px;
      height: 60px;
   }
   .card-row-m .card__availability {
      display: none;
   }
   .sidebar {
      .sidebar__icons span {
         margin-left: unset;
      }
      .sidebar__categories-item:not(:last-child) {
         margin-bottom: unset;
         margin-right: 15px;
      }
   }
   .slider-color .color__item {
      width: 15px;
      height: 15px;
      margin-right: calc(36px + (60 - 36) * ((100vw - 576px) / (768 - 576)));
   }
   .contact-details__input-wrap {
      grid-template-columns: 1fr;
      grid-row-gap: 15px;
   }
   .page-catalog__grid .card-column .card__img {
      height: calc(129px + (335.5 - 129) * ((100vw - 320px) / (768 - 320)));
   }
   .page-catalog__grid .card-column {
      width: calc(135px + (358.5 - 135) * ((100vw - 320px) / (768 - 320)));
   }
   .placed-info__subtitle {
      margin-right: 30px;
   }
   .page-catalog__grid .slider-color .color__item {
      margin-right: calc(26.8px + (105 - 26.8) * ((100vw - 576px) / (767 -576)));
   }
}
// MAX-WIDTH 767.98PX breakpoints END

// MAX-WIDTH 576.98PX breakpoints START
@media (max-width: 575.98px) {
   .gallery {
      &__title {
         font-size: 18px;
         margin-bottom: 5px;
      }
      &__subtitle {
         margin-bottom: 20px;
         &.t1 {
            font-size: 12px;
         }
      }
      &__links {
         margin-bottom: 20px;
         & a:not(:last-child) {
            margin-right: 15px;
         }
         & span {
            font-size: 33px;
         }
      }
      &__body {
         margin: -3px;
      }
      &__img {
         margin: 3px;
         width: calc(33.332% - 6px);
         height: calc(97px + (174 - 97) * ((100vw - 320px) / (575 - 320)));
         &:nth-child(7) {
            display: none;
         }
         &:nth-child(8) {
            display: none;
         }
      }
   }
   .slider-awards {
      margin-bottom: 30px;
      &__title {
         margin-bottom: 17px;
         font-size: 18px;
      }

      &__body {
         // margin: 0px;
      }

      &__container {
         margin: 0px;
      }
      &__img {
         width: unset;
         height: calc(134px + (251 - 134) * ((100vw - 320px) / (575 - 320)));
      }
      .slider-button-prev {
         left: -10px;
      }
      .slider-button-next {
         right: -10px;
      }
   }
   .popup-auth-reg {
      .auth-reg-block {
         // width: 100%;
         // max-width: 640px;
         &__title-box {
            width: 245px;
            margin-bottom: 22px;
            max-width: unset;
         }
         &__title {
            font-size: 14px;
            height: 30px;
            &.active {
               border-bottom: 3px solid $color2;
            }
         }
         &__reg-form-box {
         }
         &__btn-register {
            padding: 12px 18px;
         }
         &__agreement-block {
            margin-bottom: 25px;
         }
         &__agreement-text {
            font-size: 10px;
         }
         &__input {
            padding: 12px 18px;
         }
      }
   }
   .before-main {
      .page-main__content {
         padding: 10px 0px 40px 0px;
      }
      &__container {
         flex-direction: column;
         margin-bottom: 20px;
      }
      &__sliders-container {
         width: 100%;
         margin-right: unset;
      }
      &__info-block {
         width: 100%;
      }
      &__info.t3 {
         margin-bottom: 20px;
         font-size: 10px;
      }
      &__logo {
         // margin-bottom: 10px;
      }
      &__contacts {
         flex-direction: column;
         margin-bottom: 30px;
         align-items: center;
      }
      &__contacts-title {
         margin-right: unset;
         font-size: 14px;
      }
      &__contacts {
         font-size: 14px;
      }
      &__choose {
         margin-bottom: 30px;
         // width: 100%;
      }

      &__choose-title {
         font-size: 18px;
         margin-bottom: 28px;
      }

      &__choose-main {
         flex-direction: column;
         align-items: center;
      }

      &__choose-column {
         width: 100%;
      }

      &__choose-row {
         // justify-content: center;
         // padding-right: unset;
      }

      &__choose-num {
         // flex: 0 0 88px;
         // margin-right: 15px;
         // font-size: 64px;
      }

      &__choose-text {
         flex: 0 0 188px;
         // font-size: 14px;
         // color: $text1;
         // line-height: 1.79;
         // max-height: 100%;
      }
   }
   .auth-reg-block-mobile {
      padding: 20px 50px;
      box-shadow: unset;
      margin-bottom: 20px;
      .auth-reg-block-button {
         padding: 7.5px;
         font-size: 12px;
         &:not(:last-child) {
            margin-bottom: 11px;
         }
      }
   }
   .slider-clients {
      &__title {
      }

      &__container {
      }

      &__wrapper {
      }

      &__slide {
      }
      &__img {
         width: calc(52px + (95 - 52) * ((100vw - 320px) / (575 - 320)));
         max-width: 95px;
         height: calc(22px + (40 - 22) * ((100vw - 320px) / (575 - 320)));
         max-height: 40px;
      }
      .slider-button {
         bottom: calc(11px + (20 - 11) * ((100vw - 320px) / (575 - 320)));
      }
      .slider-button-prev {
         left: -10px;
      }
      .slider-button-next {
         right: -10px;
      }
   }
   .slider-simple-auto {
      margin: 0px -10px 20px -10px;
      &__wrapper {
      }

      &__slide {
         height: unset;
         max-height: 575px;
      }
      .swiper-pagination {
         // height: 100px;
         // width: 100%;
         .swiper-pagination-bullet {
            width: 20px;
            height: 20px;
            background: #f0d4c3;
         }
      }
   }
   .before-main__sliders-container {
      width: 100%;
   }
   .input-bottom-line {
      top: calc(100% + 6px);
   }
   .input-line {
      bottom: calc(100% + 3px);
      margin-left: 0px;
   }
   .cabinet-adress {
      .page-cabinet__subtitle-block {
         margin-bottom: 30px;
      }

      &__input-body {
         margin-bottom: unset;
      }
      &__input-row {
         flex-direction: column;
         margin-left: unset;
         margin-bottom: 10px;
         &:not(:last-child) {
            .cabinet-adress__input-box {
               margin-right: unset;
            }
            margin-bottom: 10px;
         }

         .cabinet-adress__add-adress {
            display: flex;
         }
      }
      &__input-box {
         margin-bottom: 10px;
         margin-right: unset;
         padding: 0 25px;
         flex: unset;
      }
      &__add-adress {
         flex: unset;
         align-self: center;
         margin-bottom: 10px;
      }
      &__selector {
         width: 100%;
         margin: 0px;
         margin-bottom: 20px;
         &.t6 {
            font-size: 12px;
         }
      }

      &__selector-head {
         padding: 9px 10px;
      }

      &__selector-body {
         max-height: 144.8px;
      }

      &__selector-item {
         padding: 10px 9px;
      }

      &__input-adress-box {
         margin: 0;
         margin-bottom: 20px;
      }

      &__input-index-box {
         grid-row: 3;
         width: 100%;
         margin: 0;
      }
      &__input-index {
      }
      &__btn-save-box {
         justify-content: center;
         margin-right: unset;
      }
      &__btn-save {
         &.button {
            padding: 9.5px 45px;
            font-size: 12px;
         }
      }
      .input {
         padding: 9px 10px;
      }
   }
   .popup {
      .icon-close {
         display: none;
      }
   }
   .change-pass {
      max-width: 295px;
      max-height: 350px;
      &__input-block {
         margin-bottom: 45px;
      }

      &__input-box {
         width: 235px;
         & .input {
            padding: 11px 18px 11.5px 18px;
         }
         &:not(:last-child) {
            margin-bottom: 30px;
         }
      }

      &__btn {
      }
   }
   .forgot-pass {
      height: unset;
      width: unset;
      padding: 22px 30px 30px 30px;
      &__body {
         width: unset;
      }

      &__title {
         margin-bottom: 25px;
         &.t1 {
            font-size: 14px;
         }
      }

      &__input-box {
         margin-bottom: 37px;
      }

      &__input {
         width: 235px;
         &.input {
            padding: 11px 18px;
         }
         &:not(:last-child) {
            margin-bottom: 20px;
         }
      }

      &__button {
         margin-bottom: 40px;
         width: 235px;
      }

      &__phone {
      }

      &__phone-title {
         font-size: 18px;
      }

      &__phone-num {
         font-size: 18px;
      }
   }
   .input {
      font-size: 12px;
   }
   .cabinet-contacts {
      .page-cabinet {
         &__container {
            // max-width: 790px;
         }

         &__subtitle-block {
            margin-bottom: 25px;
         }
      }

      &__input-box {
         // display: grid;
         grid-template-columns: 1fr;
         margin: -5px 25px 50px 25px;
      }
      &__btn-clear.t3 {
         font-size: 10px;
      }
      &__input {
         width: unset;
         margin: 5px;
      }

      &__buttons {
         display: flex;
         flex-direction: column;
         align-items: center;
         & button {
            padding: 10px 0px;
            width: 170px;
            font-size: 10px;
            &:not(:first-child) {
               margin-left: unset;
            }
         }
      }

      &__change-pass {
         order: 2;
      }

      &__save {
         margin-bottom: 10px;
         order: 1;
      }
   }
   .cabinet-promotions .page-cabinet__content {
      padding-bottom: 30px;
   }
   .page-cabinet {
      &__content {
         padding: 30px 0px 40px 0px;
      }

      &__body {
      }

      &__title {
         font-size: 18px;
      }
      &__subtitle {
         margin-bottom: 20px;
      }
      &__wrapper {
      }
   }
   .news-and-offers {
      margin-top: 5px;
      margin-bottom: 5px;
      height: calc(272px + (509 - 272) * ((100vw - 320px) / (575 - 320)));
      &__text-block {
         height: 90px;
         margin-bottom: 27px;
      }
   }
   .header {
      padding-top: 10px;
   }
   .cabinet-leftbar-mobile {
      grid-template-columns: 1fr 1fr;
      margin: -10px -5px 20px -5px;
      .cabinet-leftbar__item {
         text-transform: none;
         padding: 10px 8px;
         &:nth-child(3) {
            grid-column: 2;
            grid-row: 2;
         }
         &:nth-child(4) {
            grid-column: 1;
            grid-row: 2;
         }
      }
   }
   .cabinet-delivery {
      &__radio {
         display: flex;
         flex-direction: column;
         align-items: start;
         margin-bottom: 20px;
      }

      &__radio-item {
         height: 28px;
         &:not(:last-child) {
            margin-right: unset;
            margin-bottom: 15px;
         }
         &.active {
            border-bottom: 2px solid $color2;
         }
      }
      .page-cabinet {
         &__wrapper {
            padding: 20px 6px 30px 14px;
         }
      }
      &__block {
      }

      &__cards {
         margin-bottom: 20px;
      }

      &__info {
         margin-top: unset;
      }
      &__info-title {
         margin-bottom: 8px;
      }

      &__info-text {
         font-size: 12px;
      }
      .steps {
         margin-bottom: 25px;
         &__item {
            &:not(:first-child) {
               padding: 0px 0px 0px 53px;
            }

            &:not(:first-child)::before {
               width: 30px;
               top: 21.5px;
               left: 11.5px;
            }
         }
         &__num {
            width: 40px;
            height: 40px;
         }
      }
   }
   .card-row-xs {
      width: unset;
      max-width: 310px;
      &:not(:last-child) {
      }
      .card {
         &__img {
            & img {
            }
         }

         &__descr {
            padding-right: 0px;
         }

         &__name {
         }

         &__amount-sum {
         }
      }
      .t7 {
      }
   }
   .success {
      margin: 0px 0px 20px 0px;
      &__item {
         width: 50px;
         height: 50px;
         & img {
            width: 318x;
            height: 13px;
         }
      }

      &__text {
         font-size: 14px;
         margin-top: 7px;
      }
   }
   .menu__item-body {
      font-size: 10px;
   }
   .page-catalog__grid .card-column {
      margin: 10px 7.5px;
      width: calc(139px + (364.5 - 139) * ((100vw - 320px) / (768 - 320)));
   }
   .menu__container,
   .search.active {
      margin-left: -10px;
   }
   .search.active {
      height: 100%;
   }
   .t1 {
      font-size: 16px;
   }
   .t2 {
      font-size: 14px;
      font-weight: 500;
   }
   .t3 {
      font-size: 14px;
      font-weight: 400;
   }
   .t4 {
      font-size: 12px;
      font-weight: 400;
   }
   .t5 {
      font-size: 10px;
   }

   .delivery-address__input-wrap {
      grid-template-columns: 1fr;
      grid-row-gap: 15px;
   }
   .header__quantity {
      top: -8px;
      right: -8px;
   }

   .delivery-radio {
      &__row {
         flex-direction: column;
         & p:first-child {
            margin-bottom: 5px;
         }
      }
      &__descr {
         &:first {
            display: none;
         }
      }
   }
   .d-none-mobile {
      display: none;
   }
   .delivery-radio__title {
      margin-bottom: 12px;
   }
   .delivery-radio__descr:not(:last-child) {
      margin-bottom: 18px;
   }
   .delivery-radio__adress {
      margin-bottom: 15px;
   }
   .delivery-radio {
      margin-bottom: 0;
   }
   .contact-details {
      margin-bottom: 20px;
   }
   .delivery-address__adress {
      margin-bottom: 10px;
   }
   .delivery-address {
      margin-bottom: 20px;
   }
   .payment-radio__title {
      min-height: unset;
   }
   .slider__header {
      font-size: 18px;
   }

   .color__item {
      width: 12px;
      height: 12px;
   }
   .card-column .card__like-btn span {
      font-size: 20px;
   }
   .card-column .card__code,
   .card-column .card__name {
      font-size: 10px;
   }
   .card-column .card__descr {
      font-size: 12px;
   }
   .slider-color {
      &__container {
         height: 21px;
      }
      .icon-triangle-left,
      .icon-triangle-right {
         padding: 2px 0px 0px 0px;
      }
   }
   .slider-color .color__item {
      width: 9px;
      height: 9px;
      margin-right: calc(12.75px + (44.62 - 12.75) * ((100vw - 320px) / (576 - 320)));
   }
   .container {
      padding: 0px 10px;
   }
   .header__link {
      padding: 5px;
      &:last-child {
         margin-right: -5px;
      }
   }
   .header__nav a > span {
      font-size: 20px;
   }
   .header__link {
      position: static;
   }
   .icon-search {
      font-size: 20px;
   }
   .header__link > a {
      padding: 0px;
   }
   .preview-cart__top-line {
      padding: 0px 10px;
   }
   .preview-cart__clear-btn {
      padding: 12px 26px;
   }
   .preview-cart .card-row-xl__title_s {
      display: none;
   }
   .card-row-m .card__container .card__price {
      margin-bottom: unset;
      display: block;
      font-size: 12px;
   }
   .card-row-m .card__delete {
      display: none;
   }
   .card-row-m .card__container {
      align-items: center;
      width: 100%;
   }
   .card-row-m .card-row-xl__color-box {
      margin: 0px auto 0px 0px;
   }
   .card-row-m .card__availability_s {
      display: none;
   }
   .card-row-m .card__main {
      width: unset;
      flex: 0 1 auto;
   }
   .card-row-m .card__descr {
      flex-direction: column;
      align-items: start;
      flex: 1 1 auto;
   }
   .card-row-m .card__code {
      display: none;
   }
   .card-row-m .card__name {
      font-size: 10px;
   }
   .card-row-m .color__item {
      margin: 0;
      width: 12px;
      height: 12px;
   }
   .card-row-m .card-row-xl__amount p {
      font-size: 12px;
   }

   .card-row-m {
      max-width: 400px;
      &:not(:last-child) {
         margin-bottom: 10px;
      }
   }
   .preview-cart__body {
      margin-bottom: 20px;
   }
   .preview-cart__btn {
      width: unset;
   }

   .header__link a > span,
   .icon-search {
      font-size: 22px;
   }
   .menu__burger {
      width: 32px;
      height: 21px;
   }
   .footer__content {
      padding: 40px 0px;
   }
   .footer__contacts {
      font-size: 20px;
      margin-bottom: 15px;
      & p {
         margin-bottom: 20px;
      }
   }
   .footer__socials {
      margin-bottom: 30px;
      & span {
         font-size: 44px;
      }
      & a {
         &:not(:last-child) {
            margin-right: 30px;
         }
      }
   }
   .footer__block {
      margin-bottom: 30px;
   }
   .footer__info {
      font-size: 10px;
   }
   .page-cart__content {
      padding: 20px 0px 40px 0px;
   }
   .steps {
      margin-bottom: 30px;
   }
   .steps__num {
      width: 40px;
      height: 40px;
      font-size: 18px;
   }
   .steps__title {
      font-size: 8px;
   }
   .steps__item:not(:first-child)::before {
      width: 30px;
      left: 12px;
      top: 19.5px;
   }
   .steps__item:not(:first-child) {
      padding: 0px 0px 0px 54px;
   }

   .card-row-xl {
      &:not(:last-child) {
         margin-bottom: 10px;
      }
      .card-row-xl__img {
         width: 60px;
         height: 60px;
      }
      .card-row-xl__price,
      .card-row-xl__title_s,
      .card-row-xl__code-box {
         display: none;
      }
      .card-row-xl__container {
         height: unset;
      }
      .card-row-xl__name {
         font-size: 10px;
      }
      .card-row-xl__price_s {
         font-size: 12px;
      }
      .card-row-xl__amount p {
         font-size: 12px;
         min-width: 35px;
         padding: 1px 8px;
      }
      .card-row-xl__amount span {
         font-size: 9px;
         padding: 7px;
      }
      .card-row-xl {
         .color__item {
            width: 12px;
            height: 12px;
         }
      }
      .card-row-xl__box {
         flex: unset;
         justify-content: center;
      }
      .card-row-xl__container {
         justify-content: flex-start;
      }
      .card-row-xl__box:not(:last-child) {
         margin-right: 25px;
      }
      .card-row-xl__amount {
         margin-right: -7px;
      }
      .card-row-xl:not(:last-child) {
         margin-bottom: 10px;
      }
      .card-row-xl__info {
         padding: 5px 15px 0px 13px;
      }
      .icon-close {
         font-size: 14px;
         top: 0;
         right: 5px;
      }
   }
   .cart-main .page-cart__container {
      margin-bottom: 35px;
   }
   .card-column .icon-bag {
      top: 43px;
      font-size: 20px;
   }
   .card-column .header__quantity {
      top: -8px;
      left: -8px;
   }
   .card-column {
      .card-row-xl__title_s {
         display: none;
      }
      .card__button {
         line-height: unset;
         font-size: 8px;
         margin: 8px 0px 12px 0px;
         padding: 4.5px 0px;
      }
      .card-row-xl__box {
         justify-content: center;
      }
      .card-row-xl__amount input {
         font-size: 12px;
         width: 47px;
         height: 21px;
      }
   }
   .card-column .card__name {
      margin-bottom: 7px;
   }
   .card-column .card__price {
      margin-bottom: 2px;
   }
   .card-column .card__availability {
      margin-bottom: 2px;
   }
   .page-catalog__title {
      font-size: 18px;
   }
   .card-column .card__banner {
      left: 0;
      top: 7px;
      padding: 4px 5px;
      min-width: 56px;
      font-size: 10px;
   }
   .slider-button-prev {
      left: -10px;
   }
   .slider-button-next {
      right: -10px;
   }
   .card-column .card__img {
      margin-bottom: 7px;
   }
   .cart-placed .page-cart__button-box {
      margin-top: 0px;
   }
   .cart-placed .order-info {
      padding: 20px 16px 30px 10px;
   }
   .order-info {
      flex: 0 1 auto;
      padding: 20px 27px 30px 27px;
      width: unset;
      max-width: 380px;
      &__price {
         font-size: 16px;
      }
      &__price_semibold {
         font-size: 14px;
      }
      &__text-line {
         margin-bottom: 15px;
      }
   }
   .order-info__text_m,
   .order-info__text_m_medium,
   .order-info-button {
      font-size: 12px;
   }
   .order-info-button {
      padding: 9.5px 40px;
      margin: 10px 0px 20px 0px;
   }
   .placed-info__body {
      margin-bottom: 20px;
   }
   .placed-info__subtitle {
      width: 45%;
      padding: 0px 10px 0px 0px;
      margin-right: unset;
   }
   .placed-info__text {
      width: 55%;
   }
   .delivery-address__select-body {
      width: unset;
   }
   .payment-radio {
      flex-wrap: wrap;
   }

   .payment-radio__item:not(:last-child) {
      margin-right: unset;
   }
   .payment-radio__item {
      flex: 1 1 320px;
   }

   .sidebar {
      margin-bottom: 20px;
      &__icons .sidebar__filter {
         width: 23px;
         height: 21px;
      }
      &__categories-item p {
         font-size: 10px;
      }
      .sidebar__categories-item.active {
         border-bottom: 2px solid #c48564;
         background: transparent;
         color: $text1;
      }
      .sidebar__icons span {
         font-size: 20px;
      }
      &__slider {
         transform: translateY(0);
      }
   }
   .sidebar-burger .sidebar {
      &__change-price {
         padding-bottom: unset;
      }
      &__change-price-body {
         // flex-wrap: wrap;
         display: block;
      }
      &__categories-item {
         display: flex;
         justify-content: space-between;
         padding: 9px 14px;
         width: 170px;
      }
      &__categories-item p {
         font-size: 12px;
      }
      &__input-price,
      &__slider {
         margin-bottom: 20px;
      }
      &.t5 {
         font-size: 14px;
      }
   }
   .slider-color__btn-next {
      padding: 4px;
   }

   .page-catalog__grid .slider-color .color__item {
      margin-right: calc(14.2px + (45 - 14.2) * ((100vw - 320px) / (576 - 320)));
   }
   .progress-bar__body {
      width: 205px;
      height: 6px;
   }
   .page-catalog {
      &__btns-block {
         width: 235px;
         font-size: 12px;
      }
      &__btn-next,
      &__btn-prev {
         padding: 9.5px 30px;
      }
   }
}
// MAX-WIDTH 576.98PX breakpoints END
