$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow-left: "\e900";
$icon-arrow-right: "\e901";
$icon-burger: "\e902";
$icon-check: "\e903";
$icon-clock: "\e904";
$icon-close: "\e905";
$icon-comm: "\e906";
$icon-diamond: "\e907";
$icon-doc: "\e908";
$icon-double-triangle-up: "\e909";
$icon-house: "\e90a";
$icon-inst: "\e90b";
$icon-mail: "\e90c";
$icon-mark: "\e90d";
$icon-pen: "\e90e";
$icon-phone: "\e90f";
$icon-profile: "\e910";
$icon-vk: "\e911";
$icon-whatsapp: "\e912";
$icon-wrench: "\e913";

